<header class="header">
    <button class="back-button btn btn-danger" (click)="goBack()">
      <i class="fa fa-arrow-left"></i> Back
    </button>
    <div class="filter-container">
      <label for="filter" class="filter-label">Place Filter:</label>

      <select id="filter" class="filter-dropdown" [(ngModel)]="selectedFilter" (change)="onFilterChange($event)">
        <option *ngFor="let option of folders" [value]="option">{{ option }}</option>
      </select>
    </div>
  </header>
  
 
  <div class="gallery-flex">
    <div *ngFor="let image of images; let i = index" class="gallery-item">
      <img
        [src]="image"
        (click)="openModal(i)"
        class="gallery-img"
        alt="Gallery Image"
      />
    </div>
  </div>  
  
  
  <!-- Modal -->
  <div id="imageModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body text-center">
          <img [src]="selectedImage" class="img-fluid" alt="Expanded Image" />
        </div>
      </div>
    </div>
  </div>
  