.gallery-img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-img:hover {
    transform: scale(1.05);
  }
  
  .modal-body img {
    max-height: 80vh;
    max-width: 100%;
  }
  
  .modal {
    display: none; /* Hidden by default */
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal.show {
    display: block;
  }

  .gallery-container {
    column-count: 3; /* Adjust the number of columns based on screen size */
    column-gap: 10px;
  }
  
  .gallery-img {
    width: 100%; /* Takes full width of the column */
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-img:hover {
    transform: scale(1.05);
  }
  
  