<!-- Header/Navbar -->
<nav class="navbar navbar-expand-lg custom-header fixed-top">
  <div class="container-fluid d-flex align-items-center">
      <!-- Left Side: Name -->
      <p class="navbar-brand custom-name">Hola, Gowtham Manoharan</p>

      <!-- Toggle Button for Mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Right Side: Menu Items -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="#">Work</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Gallery</a></li>
          </ul>
      </div>
  </div>
</nav>
