<!-- Header/Navbar -->
<nav class="navbar navbar-expand-lg custom-header fixed-top">
  <div class="container-fluid d-flex align-items-center">
      <!-- Left Side: Name -->
      <p class="navbar-brand custom-name"> <i class="fa-regular fa-user"></i> Hola, Gowtham Manoharan</p>

      <!-- Toggle Button for Mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Right Side: Menu Items -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="cursor: pointer;">
          <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" (click)="scrollToSection('work')"> <i class="fa-solid fa-briefcase"></i> Work</a></li>
              <li class="nav-item"><a class="nav-link" (click)="scrollToSection('tour')"> <i class="fa-solid fa-earth-americas"></i> Trips</a></li>
              <li class="nav-item"><a class="nav-link" (click)='navigate()'> <i class="fa-regular fa-image"></i> Gallery</a></li>
          </ul>
      </div>
  </div>
</nav>
