<div class="container" id="work">
	<main class="row">
		<section class="col" id="work1">
			<header class="title">
				<h2>Experience</h2>
			</header>
			<div class="contents">
				<div class="box">
					<h4>2024 - Present</h4>
					<h3>Associate Software Engineer at AQR Capital</h3>
					<p>Developed Hedge Fund Reports for Analytical purpose on microservices architecture using Dotnet, Java, Angular, Sql Server and Aws</p>
				</div>
				<div class="box">
					<h4>2020 - 2024</h4>
					<h3>Senior Software Engineer at Visa</h3>
					<p>Created multiple projects from scratch. Including middleware for Visa HR team, Testing tool, Data Validation tool etc. Language used Dotnet, java, SQL server, Angular and Azure</p>
				</div>
				<div class="box">
					<h4>2019</h4>
					<h3>Software Development Intern at Samsung</h3>
					<p>Developed project for Pricing tool which fetches price from vaious inputs dynamically and puts into samsung system Used Reactjs, Nodejs and MongoDB</p>
				</div>
			</div>
		</section>
		<section class="col">
			<header class="title">
				<h2>Education</h2>
			</header>
			<div class="contents">
				<div class="box">
					<h4>2016 - 2020</h4>
					<h3>Btech It at Anna University - MIT Campus</h3>
					<p>CGPA: 8/10. Managed backend college website for Symposium using Nodejs and MongoDB. Involved in various projects using ML mainly focused on NLP</p>
				</div>
				<div class="box">
					<h4>2014 & 2016</h4>
					<h3>School</h3>
					<p>12th - 1150/1200 and 10th - 491/500. Graduated in Shri Ganga School</p>
				</div>
			</div>
		</section>
	</main>
</div>